body
{
    display:flex;
    flex-direction: column;
    padding:0;
    margin:0;
    flex: 1 1 auto;
}
.Header
{
    display:flex;
    background-color:#181a1b;
    padding:0;
    margin-bottom:5px;
    flex:.5 1 auto;
}
img.Donate
{
    height:30px;
    width : 30px;
    color:white;
    padding:5px;
}
h2.Top-Left
{
    flex:3 0 auto;
    padding:20px;
    margin:20px;
    justify-content: center;
    align-items: center;

}
div#Links
{
    display: flex;
    flex:.5 1 auto;
    justify-content: center;
    align-items: center;
}
div#Links.Item   
{
    padding: 5px;
    margin:5px;
    justify-content: center;
    align-items: center;
}
div.Item
{   
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin:2px;
}
a
{
    padding:2px;
    margin:2px;
}
.Hero
{
    display:flex;
    background-color:#181a1b;
    padding:0;
    margin:0;
    flex:2 1 auto;
}
div.Text
{
    flex:1 0 0 ;
    padding:20px;
    margin:20px;
}
div.Image
{
    flex:1 1 .5;
    height: fit-content;
    width:fit-content;
}
img.Image-own
{
    height:250px;
    width:auto;
    padding:20px 50px 20px 50px;
    margin:0px 50px 0px 50px;
    border:2px grey solid;
}
